/* Menù cambio pagina*/

.switch-container {
    background: rgb(58 58 58);
    border-radius: 100px;
    padding: 4px;
    position: relative;
    width: 300px;
    height: 45px;
    margin-left: calc(50% - 150px);
    margin-top: 80px;
    z-index: 10000;
    cursor: pointer;
    box-shadow: 0 15px 15px rgba(0,0,0,0.8);
}


.switch-slider {
    position: absolute;
    background: white;
    width:100px;
    height: calc(100% - 8px);
    border-radius: 100px;
    transition: transform 0.3s ease;
}


.switch-slider.center {
    transform: translateX(96%);
}


.switch-slider.right {
    transform: translateX(191%);
    padding-right: 5px;
    width:90px;
}


.switch-options {
    position: relative;
    display: flex;
    height: 100%;
}


.switch-option {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    z-index: 1000000000;
    transition: color 0.3s ease;
}


.switch-option.active {
    color: #1a1a1a;
}

.content {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    display: none;
}


.content.active {
    display: contents;
}


/* fine menù cambio pagina*/

/* css generale*/
body{
  background-color: black;
  color: white;
  font-weight: normal;
  overflow-x: hidden;
}

/* fine css generale*/

/* css pagina home*/

.title{
  font-size: 4.35em;
  font-weight: 700;
  letter-spacing: -0.035em;
  line-height: 1em;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}


@media (min-width: 1200px) {
  .imagehome{
    justify-content: space-between;
  }
}
@media (max-width: 1000px) {
  .mapbg{
    display: none;
  }
}
/*fine css pagina home*/

/*css switcher cellulare*/
@media (max-width: 1100px) {
  .switch-container {
    background: rgb(58 58 58);
    border-radius: 100px;
    padding: 4px;
    position: relative;
    width: 600px;
    height: 100px;
    margin-left: calc(50% - 300px);
    margin-top: 80px;
    z-index: 10000;
    cursor: pointer;
  }

  .switch-slider {
    position: absolute;
    background: white;
    width:200px;
    height: calc(100% - 8px);
    border-radius: 100px;
    transition: transform 0.3s ease;
  }

  .switch-slider.center {
    transform: translateX(96%);
  }

  .switch-slider.right {
    transform: translateX(196%);
    padding-right: 5px;
    width:90px;
  }

  .switch-options {
    position: relative;
    display: flex;
    height: 100%;
  }

  .switch-option {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 32px;
    font-weight: 500;
    z-index: 1000000000;
    transition: color 0.3s ease;
  }

  .switch-option.active {
    color: #1a1a1a;
  }
}

/*pagina team pc*/
.image-container {
  position: relative; /* Rende il contenitore relativo per posizionare l'overlay */
  width: 100%; /* Assicura che il contenitore prenda tutta la larghezza */
}

.gradient-overlay {
  position: absolute;
  bottom: -2px; /* Posiziona la sfumatura in basso */
  left: 0;
  right: 0;
  height: 150px; /* Altezza della sfumatura */
  background: linear-gradient(to top, black, black 50%, transparent); /* Gradiente da nero a trasparente */
  z-index: 1; /* Assicurati che la sfumatura sia sopra l'immagine */
}
@media (min-width: 1200px) {
  .beatles{
    margin-top: -280px;
  }
}


.gradient-bg {
  position: absolute;
  margin-top: 130px;
  left: 75%;
  transform: translateX(-50%);
  width: 700px;
  height: 190px;
  z-index: 0; /* Dietro al contenuto */
  background: radial-gradient(circle, rgba(135, 166, 250, 0.6) 0%, rgba(0, 162, 255, 0.3) 60%, rgba(0, 255, 157, 0) 100%);

  filter: blur(50px); /* Per l'effetto sfocato */
  pointer-events: none; /* Evita che il div interferisca con i clic */
}
.gradient-bg2 {
  position: absolute;
  margin-top: 130px;
  left:30%;
  transform: translateX(-50%);
  width: 400px;
  height: 190px;
  z-index: 0; /* Dietro al contenuto */
  background: radial-gradient(circle, rgba(135, 250, 171, 0.6) 0%, rgba(0, 255, 136, 0.3) 60%, rgba(0, 255, 157, 0) 100%);
  filter: blur(50px); /* Per l'effetto sfocato */
  pointer-events: none; /* Evita che il div interferisca con i clic */
}
.gradient-bg3 {
  position: absolute;
  margin-top: 100px;
  left:50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 270px;
  z-index: 0; /* Dietro al contenuto */
  background: radial-gradient(circle, rgba(135, 250, 171, 0.4) 0%, rgba(0, 255, 136, 0.2) 60%, rgba(0, 255, 157, 0) 100%);
  filter: blur(50px); /* Per l'effetto sfocato */
  pointer-events: none; /* Evita che il div interferisca con i clic */
}
.gradient-bg4 {
  position: absolute;
  top: 20%;
  left:50%;
  transform: translateX(-50%);
  width: 80%;
  height: 60%;
  z-index: 0; /* Dietro al contenuto */
  background: radial-gradient(circle, rgba(135, 166, 250, 0.4) 0%, rgba(0, 162, 255, 0.2) 60%, rgba(0, 255, 157, 0) 100%);
  filter: blur(50px); /* Per l'effetto sfocato */
  pointer-events: none; /* Evita che il div interferisca con i clic */
}

.card:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}
.card-img-top {
  border-top-left-radius: 25px; /* Raggio per il bordo superiore sinistro */
  border-top-right-radius: 25px; /* Raggio per il bordo superiore destro */
}






.items {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}

.items .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 500px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item.active {
  opacity: 1;
  z-index: 99;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.item.prev {
  z-index: 2;
  opacity: 0.25;
  transform: translate(-125%, -50%) scale(0.90);
}

.item.next {
  z-index: 2;
  opacity: 0.25;
  transform: translate(25%, -50%) scale(0.90);
}

.items .button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 275px;
  z-index: 100;
}

.button-container .button {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 300ms ease-in-out;
}

.button-container .button:hover {
  opacity: 1;
}

.button-container .button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  z-index: -99;
}

.button-container .button:nth-child(1) {
  float: left;
  display: none;
}

.button-container .button:nth-child(2) {
  float: right;
}

.buttondx{
  color: white;
  background-color: rgb(39, 125, 66);
  width: 240px;
  padding: 10px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 500;
}