/* Menù cambio pagina*/

.switch-container {
    background: rgb(58 58 58);
    border-radius: 100px;
    padding: 4px;
    position: relative;
    width: 300px;
    height: 45px;
    margin-left: calc(50% - 150px);
    margin-top: 80px;
    z-index: 10000;
    cursor: pointer;
}


.switch-slider {
    position: absolute;
    background: white;
    width:100px;
    height: calc(100% - 8px);
    border-radius: 100px;
    transition: transform 0.3s ease;
}


.switch-slider.center {
    transform: translateX(96%);
}


.switch-slider.right {
    transform: translateX(200%);
    padding-right: 5px;
    width:97px;
}


.switch-options {
    position: relative;
    display: flex;
    height: 100%;
}


.switch-option {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    z-index: 1000000000;
    transition: color 0.3s ease;
}


.switch-option.active {
    color: #1a1a1a;
}

.content {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    display: none;
}


.content.active {
    display: contents;
}


/* fine menù cambio pagina*/

/* css generale*/
body{
  background-color: black;
  color: white;
  font-weight: normal;
  overflow-x: hidden; 
}

/* fine css generale*/

/* css pagina home*/

#title{
  font-size: 4.35em;
  font-weight: 700;
  letter-spacing: -0.035em;
  line-height: 1em;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

/*fine css pagina home*/
